#answer-frame {
    text-align: center;
}

#answer-frame .number {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    width:50px;
    text-align: center;
    font-size: 35px;
    border-radius: 50%;
    background-color: #bbb;
    cursor:pointer;
}

#answer-frame .number {
    margin-top:2px;
    margin-bottom: 2px;
}

@media (min-width:992px) { 
    #answer-frame {
        text-align: left;
        height: 150px;
    }
}