#stars-frame .glyphicon-star {
    font-size: 40px;
}

#stars-frame .glyphicon-star {
    margin-left: 2px;
    margin-right: 2px;
}

#stars-frame .stars {
    position: relative;
    top:6px;
}

@media (min-width:992px) { 
    #stars-frame {
        height: 150px;
    }

    #stars-frame .glyphicon-star {
        font-size: 48px;
    }

    #stars-frame .glyphicon-star {
        margin-left: 8px;
        margin-right: 8px;
    }

    #stars-frame .stars {
        position: static;
    }
}