#numbers-frame .number {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    width:50px;
    text-align: center;
    font-size: 35px;
    border-radius: 50%;
    background-color: #bbb;
    cursor:pointer;
}

#numbers-frame .number.selected {
    cursor:not-allowed;
    background-color: #ddd;
    color:#bbb;
}

#numbers-frame .number.used {
    cursor:not-allowed;
    background-color: #5cb85c;
    color:#fff;
    opacity: 0.5;
}