#rules-alert {
    margin-bottom:10px;
}

#rules-alert.alert-collpase {
    height: 40px;
    overflow: hidden;
}

 
#rules-alert h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 2px;
}

#rules-alert h2 strong {
    position: relative;
    left:20px;
}

#rules-alert.alert-collpase h2 {
    top:-10px;
    opacity: 0.25;
}


@media (min-width:992px) { 
    #rules-alert {
        margin-bottom:30px;
    }

    #rules-alert h2 {
        font-size: 30px;
    }
}