#rules-alert.alert-collpase {
    height: 40px;
    overflow: hidden;
}

 
#rules-alert h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 2px;
}


@media (min-width:992px) { 
    #rules-alert {
        margin-bottom:15px;
    }

    #rules-alert h2 {
        font-size: 30px;
    }
}