#rules-alert.alert-collpase {
    height: 40px;
    overflow: hidden;
}

@media (max-width:400px) { 
    #rules-alert h2 {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 10px;
        position: relative;
        top: 2px;
    }
}